name: CI
on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    paths-ignore:
      - 'README.md'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ['3.2', '3.3', '3.4', '4.0']
        rails_version: ['7.2', '8.0', '8.1']
        exclude:
          - ruby_version: 4.0
            rails_version: 7.2
          - ruby_version: 4.0
            rails_version: 8.0
    steps:
      - uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
      - name: Build and run test
        run: |
          bundle install
          unset BUNDLE_GEMFILE
          bundle exec appraisal rails_${{ matrix.rails_version }} bundle
          bundle exec appraisal rails_${{ matrix.rails_version }} rake

