name: CI
on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    paths-ignore:
      - 'README.md'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ['3.0', '3.1', '3.2', '3.3']
        rails_version: ['6.1', '7.0', '7.1']
        exclude:
          - ruby_version: 3.1
            rails_version: 6.1
          - ruby_version: 3.2
            rails_version: 6.1
          - ruby_version: 3.3
            rails_version: 6.1
    steps:
      - uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
      - name: Build and run test
        run: |
          bundle
          bundle exec appraisal rails_${{ matrix.rails_version }} bundle
          bundle exec appraisal rails_${{ matrix.rails_version }} rake
